<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>
      Video Mining
    </title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/album.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
  </head>

  <body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">

            <a class="navbar-brand" href="#">Video Mining Admin</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tofaMenuNav" aria-controls="tofaMenuNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      
            <div class="collapse navbar-collapse" id="tofaMenuNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/uploadvideos">Upload Video</a>
                </li>
              
              </ul>
            </div>

        </div>
      </nav>

      <script>
          function startPreloader(){
              $('#preloadercircle').show();
              $('#preloader').show();
          }

          function removePreloader(){
              $('#preloader').hide();
              $('#preloadercircle').hide();
          }
      </script>

      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

      <!--PRELOADER HTML-->
      <div id="preloader" style="display: none;">
          <div id="preloadercircle" data-loader="circle-side" style="display: none;"></div>
          <div id="preloader__contents"></div>
      </div>

      <% include modal %>