<div class="row mb-3">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Video Result Info</h6>
                <p class="card-text">
                    <strong>Amount Invested: </strong>
                    <span class="text-danger">
                        <%= data %> 
                    </span>
                </p>
                
            </div>
        </div>
    </div>

</div>

